/*default*/

#brandName {
    font-size: 34px;
    font-family:'Playfair Display', Serif;
    color: rgba(38,38,38,0.85);
}
#head1 {
    font-size: 200%;
}
.generalFont {
    font-size: 18px;
    font-family:'Sanchez', Serif;
}
.photo {
    width:250px;
    height:auto;
    margin: 0 auto 3% auto;
}
#calcButton {
    font-size: 18px;
    display: block;
    margin: 5% auto 5% auto;
}
.divGeneralButtons {
    padding-bottom: 3%;
}
.generalButtons {
    font-size: 18px !important;
}
#nameFooter {
    font-size: 16px;
    margin-top: 3%
}
#backTop {
    border: 0;
    margin-top: 3%;
}
.littleImages {
    height:32px;
    width: 32px;
    margin: 0 auto 3% auto;
}
/* default styles here for older browsers.
       I tend to go for a 600px - 960px width max but using percentages
    */
@media only screen and (min-width:960px){
    /* styles for browsers larger than 960px; */
    #brandName {
    }
    .generalFont {
        font-size: 22px;
    }
    #head1 {
        font-size: 250%;
    }
    #calcButton {
        margin: 3% auto 3% auto;
    }
}
@media only screen and (min-width:1440px){
    /* styles for browsers larger than 1440px; */
    #brandName {
        font-size: 40px;
    }
    #calcButton {
        margin: 2% auto 2% auto;
    }
}
@media only screen and (min-width:2000px){
    /* for sumo sized (mac) screens */
    #calcButton {
        margin: 1% auto 1% auto;
    }
}
@media only screen and (max-device-width:480px){
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    #brandName {
        font-size: 24px;
    }
    .photo {
        width:175px;
    }
}
@media only screen and (device-width:768px){
    /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
}